@model OnlineShoppingProject.Models.Category

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa</h2>

<h3>Bạn có muốn xóa?</h3>
<div>
    <h4>Danh mục</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valid)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xác nhận" class="btn btn-default" /> |
            @Html.ActionLink("Quay về", "Index")
        </div>
    }
</div>
