<!--Home layout-->

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Header")
</head>
<body>
    @Html.Partial("_HeadTitle")
    <div class="container body-content">

        @RenderBody()
        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
